body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #ECF1FD;
    display: grid;
    grid-template-areas: 'h h h' 'm m m' 'f f f'; 
    grid-gap: 10px;
    margin: 0px;
  }
  
  header{
    margin: 0%;
    width: 100% ;
    height: 90px;
    font: inherit;
    position: fixed;
    background-color: #093D34;
    justify-content: space-between;
    box-sizing: border-box;
    float: inline-end;
    z-index: 301;
  }
  
  nav *{
    display: inline;
    float: inline-start;
  }
  
  .nav-right{
    margin: 20px;
    float: right;
  }
  
  li {
    justify-content: space-between;
    text-align:center;
  }
  
  li a {
    float: left;
    display: block;
    color: #ECF1FD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #0a493e;
    color: #ECF1FD;
  }
  
  footer{
    bottom: 0;
    width: 100% ;
    height: 90px;
    font: inherit;
    position: fixed;
    background-color: #093D34;
    z-index: 300;
  
  }
  
  h1{
    margin:130px;
    color: #093D34;
  }
  
  p{
    margin: 50px;
  }
  
  lpi{
    margin: 50px;
    position: absolute;
  }
  
  