body {
  background-color: #E4F5E1;
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #1A472A;
  color: white;
  padding: 20px;
}

footer {
  background-color: #1A472A;
  color: white;
  padding: 10px;
  text-align: center;
}

h1 {
  color: #1A472A;
}

p {
  color: #155F3B;
}

a {
  color: #0E3322;
}

button {
  background-color: #59B77E;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

.button:hover {
  background-color: #438D5A;
}
